.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}

.pListImg {
  width: 200px;
  height: 150px;
  object-fit: cover;
  display: block;
}

.pListTitles > h1 {
  text-align: center;
  font-size: 18px;
  color: #444;
}

.pListTitles > h2 {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.pListItem:hover {
  transform: scale(1.2);
  z-index: 2;
  border: solid;
}
