.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex: 1;
  box-shadow: 5px 5px 5px black;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  box-sizing: border-box;
  background: rgb(27, 27, 27, 0.5);
  bottom: 240 px;
  color: white;
  transition: 0.5s;
}

.featuredItem:hover {
  cursor: pointer;
}

.featuredItem:hover .featuredTitles {
  height: 80px;
  width: 100%;
  background: black;
}

.card:hover .h3 {
  visibility: visible;
  opacity: 1;
}
